<!DOCTYPE html>
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/about.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<html>
<head>
    <title>About</title>
</head>
<body>
<div id="header"></div>

<div class="container-fluid" id="about-base-div">

    <div class="row">
        <div class="col-2 clearfix d-flex align-items-center">
            <div class="mx-auto my-major-item">
                <span>Project</span>
            </div>
        </div>

        <div class="col-10 clearfix">
            <div class="row">
                <div class="col-4 clearfix d-flex align-items-center">
                    <div class="mx-auto my-item">
                        <span>FFTimelines(beta)</span>
                    </div>
                </div>
                <div class="col-8 clearfix d-flex align-items-center">
                    Timeline sharing web service for FFXIV.<br>
                    Easy to create/edit/share Timelines for your friends.<br>
                    Viewing from Smart Phone devices are not supported.
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-4 clearfix d-flex align-items-center">
                    <div class="mx-auto my-item">
                        <span>FFMercenaries(WIP?)</span>
                    </div>
                </div>
                <div class="col-8 clearfix d-flex align-items-center">
                    I just wanna earn money by fighting as a mercenary.<br>
                    (You know gathering/crafting is really boring right? lol)<br>
                    However its really difficult to find recruiters so far.<br>
                    If only we have SNS that people easily can recruit players for something like hard contents...<br>
                    Progress: 0% ／(^o^)＼
                </div>
            </div>

        </div>
    </div>

    <br>

    <div class="row">
        <div class="col-2 clearfix d-flex align-items-center">
            <div class="mx-auto my-major-item">
                <span>Contact</span>
            </div>
        </div>

        <div class="col-10 clearfix">
            <div class="row">
                <div class="col-4 clearfix d-flex align-items-center">
                    <div class="mx-auto my-item">
                        <span>Email</span>
                    </div>
                </div>
                <div class="col-8 clearfix d-flex align-items-center">
                    dyukusi.yukaperopero@gmail.com
                </div>
            </div>

            <div class="row">
                <div class="col-4 clearfix d-flex align-items-center">
                    <div class="mx-auto my-item">
                        <span>Discord</span>
                    </div>
                </div>
                <div class="col-8 clearfix d-flex align-items-center">
                    Dyukusi#5800
                </div>
            </div>

            <div class="row">
                <div class="col-4 clearfix d-flex align-items-center">
                    <div class="mx-auto my-item">
                        <span>Discord Group</span>
                    </div>
                </div>
                <div class="col-8 clearfix d-flex align-items-center">
                    <a target="_blank" href="https://discord.gg/CwRMkXG">https://discord.gg/CwRMkXG</a>
                </div>
            </div>

            <!--<div class="row">-->
                <!--<div class="col-4 clearfix d-flex align-items-center">-->
                    <!--<div class="mx-auto my-item">-->
                        <!--<span>Twitter</span>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-8 clearfix d-flex align-items-center">-->
                    <!--<a target="_blank" href="https://twitter.com/dyukushin">@dyukushin</a>-->
                <!--</div>-->
            <!--</div>-->

            <div class="row">
                <div class="col-4 clearfix d-flex align-items-center">
                    <div class="mx-auto my-item">
                        <span>FFXIV</span>
                    </div>
                </div>
                <div class="col-8 clearfix d-flex align-items-center">
                    <a target="_blank" href="https://eu.finalfantasyxiv.com/lodestone/character/18968752/">Dyukusi Yukapero@Pandaemonium, ManaDC</a>
                </div>
            </div>

        </div>
    </div>

</div>

</body>
</html>

<script src="/js/timeline_manager/compressed/header.min.js" type="text/javascript"></script>
