html, body {
    height: 100%;
}

body {
    padding-left: 2rem;
    padding-right: 2rem;
    /*background-color: #F6F6F6;*/
    box-sizing: border-box;
}

.div-search-button {
    padding-left: 0.5rem;
    padding-right: 0rem;
}

.div-new-button {
    padding-left: 0.5rem;
    padding-right: 0px;
}

.alert{
    display: none;
    z-index: 999999;
}

.my-alert-bottom{
    position: fixed;
    bottom: 5px;
    left:2%;
    width: 96%;
}

.chosen-drop .chosen-results {
    max-height: 30rem;
}

#gear-set-area {
    margin-bottom: 5px;
}

#gear-set-area button {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    font-size: 150%;
}

#gear-set-area .col-1 {
    padding: 0px 3px 0px 3px;
}

#gear-set-area .col-4, #gear-set-area .col-8, #gear-set-area .col-12 {
    padding: 0px;
}
